<div class="row">
	<div class="col-md-12 col-sm-12">
		<!-- Start all trigger -->
		<div class="panel">

			<div class="panel-heading">
				<div class="pull-left">
					<titulo regla="rule" pldsystem="SGV"></titulo>
				</div>
				<!-- /.pull-left -->
				<div class="pull-right">
					<button data-tooltip data-collapse-panel class="btn btn-sm"
						data-action="collapse" data-toggle="tooltip" data-placement="top"
						data-title="Ocultar">
						<i class="fa fa-angle-up"></i>
					</button>
				</div>
				<!-- /.pull-right -->
				<div class="clearfix"></div>
			</div>
			<!-- /.panel-heading -->

			<div class="panel-body">
				<div class="tab-content">
					<!-- START DATA-TABLE CONTAINER -->
					<!-- div class="row">
						<b>--reloadTable : {{reloadTable}}</b>
						<b>--pageSize : {{valuesDetalle.pageSize}}</b>
						<b>--currentPage : {{valuesDetalle.currentPage}}</b>
						<b>--totalRows : {{valuesDetalle.totalRows}}</b>
						<b>--searchText : {{valuesDetalle.searchText}}</b>
						<b>--reverse : {{valuesDetalle.reverse}}</b>
						<b>--paginated : {{valuesDetalle.paginated}}</b>
					</div-->



			<div class="panel-body">
				<pld-advanced-table reload="reloadTable" options="configTable" values="valuesDetalle" key="'detalle'"></pld-advanced-table>
			</div>
			
			
					<!-- END DATA-TABLE CONTAINER -->

				</div>
			</div>


		</div>
	</div>
</div>







