#content {width:100%; margin:0px auto;}

.contenedorDiapositiva
{
    background-color:#FFF;
    width:100%;
    
}

.contornoContenedor
{
    background-color:BLACK;
    width:5%;
}

.tn3-image
{
    vertical-align:middle;
}

/*******************************************************  Estilos de las Tablas ***********************************************/
.dataGridDatos
{
	width:100%;
	font-size:10px;
}

.dataGridDatos caption
{
	background:#09310e;
	color:white;
	padding:3px;
	border-bottom:none;
}

.dataGridDatos th
{
	background:  #008080 url(../../../images/ImgsMasterPage/h100.png);
	color:white;
	padding:4px;
	border:#d5d5d5 solid 1px;
}

.row
{
    background: #F0FFFF url(../../Images/Cancelaciones/CarteraSuceptible/h100.png);
    padding: 2px;
    color: Black;
}

.alternateRow
{
    background: rgb(198, 229, 204);
    color: Black;
    height: 10px;
    
}
.rowPie
{
    background:  #008080 url(../../../images/ImgsMasterPage/h100.png);
	color:white;
	padding:4px;
	border:#d5d5d5 solid 1px
}

.row:hover, .alternateRow:hover
{
	background:#5FBAD8 url(../../../images/ImgsMasterPage/h100.png) ;	
	color:#000;
	height : 10px;
	cursor:pointer;
}

.divContenidoTabla
{
    width:950px;
    overflow:auto;
}

.divContenidoTabla2
{
    width:100%;
    overflow:auto;
    height:100px;
}

/*******************************************************  Estilos de la plantilla de diapositiva ***********************************************/
.tblDiapositiva
{
    width:100%; 
    padding:0; 
    border:0; 
}

.trBaseSuperior
{
    height:30px; 
    background-image: linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -o-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -moz-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -webkit-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -ms-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);

    background-image: -webkit-gradient(
	                        linear,
	                        left bottom,
	                        left top,
	                        color-stop(0.04, rgb(174,189,189)),
	                        color-stop(0.5, rgb(218,222,222)),
	                        color-stop(0.76, rgb(174,189,189)));
}

.tblBaseInferior
{
    height:5px; background-image: linear-gradient(bottom, rgb(247,10,10) 4%, rgb(255,255,255) 50%, rgb(247,10,10) 76%);
    background-image: -o-linear-gradient(bottom, rgb(247,10,10) 4%, rgb(255,255,255) 50%, rgb(247,10,10) 76%);
    background-image: -moz-linear-gradient(bottom, rgb(247,10,10) 4%, rgb(255,255,255) 50%, rgb(247,10,10) 76%);
    background-image: -webkit-linear-gradient(bottom, rgb(247,10,10) 4%, rgb(255,255,255) 50%, rgb(247,10,10) 76%);
    background-image: -ms-linear-gradient(bottom, rgb(247,10,10) 4%, rgb(255,255,255) 50%, rgb(247,10,10) 76%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.04, rgb(247,10,10)),
	    color-stop(0.5, rgb(255,255,255)),
	    color-stop(0.76, rgb(247,10,10))
    );
}

.piePag
{
    height:45px; 
    background-image: linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -o-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -moz-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -webkit-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);
    background-image: -ms-linear-gradient(bottom, rgb(174,189,189) 4%, rgb(218,222,222) 50%, rgb(174,189,189) 76%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.04, rgb(174,189,189)),
	    color-stop(0.5, rgb(218,222,222)),
	    color-stop(0.76, rgb(174,189,189)));
}

.portada1{
	font-family:Helvetica, Verdana, Arial;
	font-size:32px;
	color:#999;
	font-weight:bold;
}
.portada2{
	font-family:Helvetica, Verdana, Arial;
	font-size:28px;
	color:#777;
	font-weight:bold;
}
.portada3{
	font-family:Helvetica, Verdana, Arial;
	font-size:28px;
	color:#000000;
	font-weight:bold;
}
