
.barraH
{
    background-color: black; 
    height:5px; 
    position: relative;
    left: 0; 
    top: 20px;
    visibility:hidden;
}

.barraV
{
    background-color: black; 
    height:5px; 
    position: relative;
    left: 0; 
    top: 20px;
    visibility:visible;
} 


.BarraPadre{
    width:100%;
    height:15px;
    border:1px solid #000;
    overflow:hidden; }
    
.BarraHijoV{
    width:0%;
    height:100%;
    border-right: 1px solid Gray;
    border:Gray;
    margin-bottom:-16px;
    background: -moz-linear-gradient(top,  rgba(161,193,149,0.67) 0%, rgba(6,124,0,0.66) 50%, rgba(161,193,149,0.64) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,193,149,0.67)), color-stop(50%,rgba(6,124,0,0.66)), color-stop(100%,rgba(161,193,149,0.64))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(161,193,149,0.67) 0%,rgba(6,124,0,0.66) 50%,rgba(161,193,149,0.64) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(161,193,149,0.67) 0%,rgba(6,124,0,0.66) 50%,rgba(161,193,149,0.64) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(161,193,149,0.67) 0%,rgba(6,124,0,0.66) 50%,rgba(161,193,149,0.64) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(161,193,149,0.67) 0%,rgba(6,124,0,0.66) 50%,rgba(161,193,149,0.64) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aba1c195', endColorstr='#a3a1c195',GradientType=0 ); /* IE6-9 */

  }   
   
    
.BarraTexto {
    color: #000000;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    left: 40%;
    position: relative;
    top:-1px
    }
    
    .imgLoading {
    left:-21px;
    position: relative;
    top:-7px
    }
    