/* ========================================================================
 * BADGE
 * ======================================================================== */
.badge{
  padding: 4px 7px;
  @include border-radius(0px);
}

.badge-default{
  color: #999 !important;
}

.badge-danger{
  background-color: #D50000 !important;
  color: #FFF !important;
}

.badge-warning{
  background-color: #ffca28 !important;
  color: #FFF !important;
}

.badge-success{
  background-color: green !important;
  color: #FFF !important;
}

@include badge-color(default,$color-default);
@include badge-color(primary,$color-primary);
//@include badge-color(success,'green');
@include badge-color(info,$color-info);
//@include badge-color(warning,'#ffca28;');
//@include badge-color(danger,'#D50000;');
@include badge-color(lilac,$color-lilac);
@include badge-color(teals,$color-teal);
@include badge-color(inverse,$color-inverse);

.badge-circle{
  @include border-radius(50%);
  line-height: 10px;
  height: 15px;
  width: 15px;
  display: block;
}