<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
			[# %date %-6level %t %X{USER} %logger.%M\(%line\) - %msg %xEx #] %n 
<!-- 			[# [%date ] [%-6level ] [ %-12thread  ] [%-7X{USER}] [ %logger{16}.%M\(%line\) - %msg ] %xEx #] %n -->
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

  	  	
  
	
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" />
	<logger name="org.springframework.web.servlet.view.InternalResourceViewResolver" level="DEBUG" />

	<root>
		<level value="TRACE" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration> 