
.BarraVerde{
   border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #63b211; /* Old browsers */
    background: -moz-linear-gradient(top, #63b211 1%, #30710a 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#63b211), color-stop(99%,#30710a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #63b211 1%,#30710a 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #63b211 1%,#30710a 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #63b211 1%,#30710a 99%); /* IE10+ */
    background: linear-gradient(to bottom, #63b211 1%,#30710a 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b211', endColorstr='#30710a',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align: center;
    vertical-align:middle; 
    z-index: 1;
}


.BarraGris {
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #747474 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#747474)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%,#747474 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%,#747474 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%,#747474 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%,#747474 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#747474',GradientType=0 ); /* IE6-9 */
    color: white;
    text-align: center;
    vertical-align:middle;
}

.BarraAmarillo
{
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #fdf638; /* Old browsers */
    background: -moz-linear-gradient(top, #fdf638 0%, #e1cc3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf638), color-stop(100%,#e1cc3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdf638 0%,#e1cc3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf638', endColorstr='#e1cc3d',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
}

.BarraRojo
{
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #ffaeae; /* Old browsers */
    background: -moz-linear-gradient(top, #ffaeae 1%, #af2c2c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffaeae), color-stop(100%,#af2c2c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffaeae 1%,#af2c2c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaeae', endColorstr='#af2c2c',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
}

.BarraNaranja
{
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #ffb96b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb96b 0%, #ff8a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb96b), color-stop(100%,#ff8a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb96b 0%,#ff8a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb96b', endColorstr='#ff8a00',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
}


.BarraAzul
{
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #0084ff; /* Old browsers */
    background: -moz-linear-gradient(top, #0084ff 0%, #103455 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0084ff), color-stop(99%,#103455)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0084ff 0%,#103455 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0084ff 0%,#103455 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0084ff 0%,#103455 99%); /* IE10+ */
    background: linear-gradient(to bottom, #0084ff 0%,#103455 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#103455',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
}

.BarraBlanco
{
    border: #a0a0a0 solid 1px;
    border-radius: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 2%, #e1e1e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 2%,#e1e1e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
    color:black;
    text-align:center;
}


.texto {
    color: white;
    position: relative;
    top: -30px;
    z-index: 1;
}
