.map-chart-bottom-left{
	 
	bottom: 20px; 
	left: 20px; 
	position: fixed; 
	padding-top: 15px;
	margin-bottom: 0px; 
	
	
	
}
.map-chart-bottom-right{
	 
	bottom: 20px; 
	left: 20px; 
	position: fixed; 
	padding-top: 15px;
	margin-bottom: 0px; 
	z-index: 998;
}
.map-chart-top-left{
	 
	bottom: 20px; 
	left: 20px; 
	position: fixed; 
	padding-top: 15px;
	margin-bottom: 0px; 
	z-index: 998;
}
.map-chart-top-right{
	 
	bottom: 20px; 
	left: 20px; 
	position: fixed; 
	padding-top: 15px;
	margin-bottom: 0px; 
	z-index: 998;
}

.ct-chart .ct-series.ct-series-a .ct-bar,.ct-chart .ct-series.ct-series-a .ct-line,.ct-chart .ct-series.ct-series-a .ct-point,.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut
	{
	stroke: #0071A4;
}

.ct-chart .ct-series.ct-series-b .ct-bar,.ct-chart .ct-series.ct-series-b .ct-line,.ct-chart .ct-series.ct-series-b .ct-point,.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut
	{
	stroke: #C8EEFF;
}

.ct-chart .ct-grid {
    stroke-width: 0px !important;
}

.ct-chart .ct-label {
    font-size: 18px !important;
}


.bg-blue {
	background: #0071A4 !important
}



.widget {
	border-radius: 3px;
	margin-bottom: 5px;
	color: #fff;
	padding: 5px;
	overflow: hidden
}

.widget.widget-stats {
	position: relative
}

.widget.widget-stats {
	position: relative
}

.widget-stats .stats-info h4 {
	font-size: 12px;
	margin: 5px 0;
	color: #fff
}

.widget-stats .stats-icon {
	font-size: 42px;
	height: 56px;
	width: 56px;
	text-align: center;
	line-height: 56px;
	margin-left: 15px;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 15px;
	opacity: .9;
	filter: alpha(opacity = 90)
}

.widget-stats .stats-info p {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 0
}

.widget-stats .stats-link a {
	display: block;
	margin: 15px -15px -15px;
	padding: 7px 15px;
	background: url(../img/transparent/black-0.4.png);
	background: rgba(0, 0, 0, .4);
	text-align: right;
	color: #ddd;
	font-weight: 300;
	text-decoration: none
}

.widget-stats .stats-link a:focus, .widget-stats .stats-link a:hover {
	background: url(../img/transparent/black-0.6.png);
	background: rgba(0, 0, 0, .6);
	color: #fff
}

/*.widget-stats .stats-icon.stats-icon-lg {
	font-size: 1.2vm;
	top: 12px;
	right: 21px
}*/

.widget-stats .stats-title {
	position: relative;
	line-height: 1.1;
	font-size: 12px;
	margin: 2px 0 7px
}

.widget-stats .stats-desc, .widget-stats .stats-title {
	color: #fff;
	color: rgba(255, 255, 255, .6),
	font-size: 10px;
}

/*.widget-stats .stats-desc {
	font-weight: 300;
	margin-bottom: 0;
	font-size: 1vwmin;
}*/

.widget-stats .stats-number {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
	
}

.widget-stats .stats-progress {
	background: url(../img/transparent/black-0.2.png);
	background: rgba(0, 0, 0, .2);
	height: 2px;
	margin: 0 -15px 12px
}

.widget-stats .stats-progress .progress-bar {
	background: #fff
}




	.mapDefinition{
		height: 100%
	}
	.carousel.slide{
		height: 100%
	}
	.carousel-inner{
		height: 100%
	}
	.item{
		height: 100%
	}
	
	.controls-carousel-pld{
		bottom: 10px; 
		position: fixed; 
		z-index: 999;
		width: 100%
	}
	
	.table-map{
		bottom: 10px; 
		position: absolute; 
		z-index: 999;
		
	}
	.title-map{
	    top: 20px;
    	position: absolute;
    	transform: translate(-50%, -50%);
    	left: 50%;
    	text-align: center;
    }
    
    .controls-carousel-pld{
		bottom: 10px; 
		position: absolute; 
		z-index: 999;
		width: 100%;
		opacity:0;
	}
	.controls-carousel-pld:hover { 
		opacity:0.99;
	}
	
	.badge{
	background-color:#2196f3; 
	}