*
{
	font-family:Arial;
	margin:0;
	padding:0; 
}

body
{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 33%, #ffffff 50%, #ffffff 78%, #437253 100%, #7a995a 100%, #15721f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(33%,#ffffff), color-stop(50%,#ffffff), color-stop(78%,#ffffff), color-stop(100%,#437253), color-stop(100%,#7a995a), color-stop(100%,#15721f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 33%,#ffffff 50%,#ffffff 78%,#437253 100%,#7a995a 100%,#15721f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 33%,#ffffff 50%,#ffffff 78%,#437253 100%,#7a995a 100%,#15721f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 33%,#ffffff 50%,#ffffff 78%,#437253 100%,#7a995a 100%,#15721f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 33%,#ffffff 50%,#ffffff 78%,#437253 100%,#7a995a 100%,#15721f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#15721f',GradientType=0 ); /* IE6-9 */
}

html
{
    min-height: 99.9%;
    min-width: 100%;
   /* overflow-y: hidden;*/
}
.root
{
    /*background: url(../images/ImgsMasterPage/lineasB.png) repeat-x bottom;*/
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
    height: 100%;
}
.headerMain
{
    position: relative;
    background: url('../Images/ImgsMasterPage/headerBackground.png') repeat-x 50% bottom;
    height: 10%;
    width: 100%;
    padding-top: 10px;
}
.userLinks
{
    float: right;
    font-size: 9px;
    padding-right: 40px;
    height: 15px;
}
.Salir
{
    color: Gray;
}
.Salir:hover
{
    color: Gray;
    text-decoration: underline;
    cursor: pointer;
}
.imgCrecer
{
    color: Gray;
    cursor: pointer;
    width: 21px;
    height: 15px; /* position:absolute;*/
    margin-left: -2%;
}

.imgCrecer:hover
{
    color: Black;
    cursor: pointer;
    width: 23px;
    height: 17px;
}
.logo
{
    margin: 25px;
    top: 3px;
    left: 21px;
    height: 88px;
    width: 85px;
}
.systemDate
{
    float: right;
    margin: -75px 0 -5px 0px;
    clear: both;
    font-size: 9px;
    color: white;
    font-weight: bold;
    padding: 7px;
}

.systemDate .day
{
    background: black;
    border: white solid 1px;
    float: left;
    margin-right: 4px;
    padding: 1px;
}

.systemDate .time
{
    background: black;
    border: transparent solid 1px;
    float: left;
    padding: 1px;
}
.logoBAZ
{
    float: right;
    clear: both;
    margin-right: 0px;
    width: 133px;
    height: 21px;
    margin: -47px 10px -5px 0px;
}
.logoBandera
{
    float: right;
    margin: -23px 10px -5px 0px;
    width: 38px;
    height: 18px;
    -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(17, 27, 18);
    -mox-box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(17, 27, 18);
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(17, 27, 18);
    cursor: pointer;
    display: block;
}
.userData
{
    margin: -81px 0px 0px 150px;
    color: white;
    font-size: 9px;
    position: absolute;
}
.userDataInfo
{
    color: white;
    font-weight: bold;
    padding: 2px;
    background: black;
    border: white solid 1px;
}
.shadows
{
    height: 100%;
    width: 100%;
    overflow-x: auto;
}
.contents
{
    width: 100%;
    height: 90%;
    min-height: 100%;
}
.dropShadowBox
{
    padding-left: 1%;
    width: 99%;
}
.main
{
    background: #f7f9f9 url(../images/ImgsMasterPage/lineas.png) repeat-x bottom;
    font-size: 12px;
    width: 100%;
}

/*MENU*/
.systemsMenu
{
    margin-left: 9%;
    font-size: 8px;
    font-weight: bold;
    color: #007561;
    position: absolute;
    padding: 5px;
    top: -1px;
}
.systemsMenu a
{
    text-decoration: none;
    cursor: hand;
    font-size: 9px;
    font-weight: bold;
    color: #007561;
    display: block;
    float: left;
    margin: 0 2px;
    background: url(../images/ImgsMasterPage/systemsMenuBackground.png) no-repeat;
    width: 100px;
    height: 25px;
    color: white;
    padding: 7px 0 0 5px;
    cursor: hand;
}
.systemsMenu a:hover
{
    background: url(../images/ImgsMasterPage/systemsMenuBackgroundOver.png) no-repeat;
    color: Black;
}

.systemsMenu a b
{
    padding: 1px 10px 0 1px;
    float: left;
    font-weight: bold;
    color: White;
}

.systemsMenu a span
{
    float: left;
    padding: 3px 0;
    margin: 0;
    font-weight: bold;
    width: 76px;
    text-align: center;
    position: relative;
    z-index: 100;
}

.systemsMenu span
{
    display: block;
    float: left;
    padding: 7px;
}


/*SUBMENU*/ 
div#menu
{
    width: 100%;
    height: 1px;
    position: static;
    
}

div#menu ul
{    
    margin: 0;
    padding: 0;
  /*  list-style: none;*/
    float: left;
    margin-top: -30px;
    margin-left: 12%; 
    position: static;
   /* min-width:900px;*/
}

div#menu ul.menu
{
    padding-left: 1px;
}

div#menu li
{
    position: relative;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
    z-index: 9;
}
div#menu li:hover > ul
{
    left: 0;
    min-width:97%;
}

div#menu a
{
    position: relative;
    z-index: 10;
    height: 1px;
    display: block;
    float: left;
    line-height: 0px;
    text-decoration: none;
    color: White;
    font: normal 10px Helvetica, Arial, sans-serif;
    border: White;
    margin-top: 1px;
    border-bottom: Red;
}

div#menu.ie6 a
{
    border-color: Pink;
    filter: Red;
}

div#menu li:hover > a
{
    border: 1px Fuchsia;
    border-bottom-color: White;
    background: #b7deed;
    background: -moz-linear-gradient(top,  #b7deed 0%, #00564f 0%, #13725e 50%, #13725e 51%, #00564f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(0%,#00564f), color-stop(50%,#13725e), color-stop(51%,#13725e), color-stop(100%,#00564f));
    background: -webkit-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%);
    background: -o-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%);
    background: -ms-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%);
    background: linear-gradient(to bottom,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#00564f',GradientType=0 ); /*     background: #2b6d5e;      background: -moz-linear-gradient(-45deg,  #2b6d5e 0%, #00544d 17%, #2b6d5e 32%, #00544d 50%, #2b6d5e 67%, #00544d 82%, #2b6d5e 100%);      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2b6d5e), color-stop(17%,#00544d), color-stop(32%,#2b6d5e), color-stop(50%,#00544d), color-stop(67%,#2b6d5e), color-stop(82%,#00544d), color-stop(100%,#2b6d5e));      background: -webkit-linear-gradient(-45deg,  #2b6d5e 0%,#00544d 17%,#2b6d5e 32%,#00544d 50%,#2b6d5e 67%,#00544d 82%,#2b6d5e 100%);      background: -o-linear-gradient(-45deg,  #2b6d5e 0%,#00544d 17%,#2b6d5e 32%,#00544d 50%,#2b6d5e 67%,#00544d 82%,#2b6d5e 100%);      background: -ms-linear-gradient(-45deg,  #2b6d5e 0%,#00544d 17%,#2b6d5e 32%,#00544d 50%,#2b6d5e 67%,#00544d 82%,#2b6d5e 100%);      background: linear-gradient(135deg,  #2b6d5e 0%,#00544d 17%,#2b6d5e 32%,#00544d 50%,#2b6d5e 67%,#00544d 82%,#2b6d5e 100%);      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6d5e', endColorstr='#2b6d5e',GradientType=1 );      */
}

.menu li
{
    position: relative;
    float: left;
    border: white;
    margin: 0;
   /* border-left: #003633 solid 1px;*/
    z-index: 100;
}

div#menu li:hover > a span
{
    color: red;
}
div#menu a:hover
{
    color: #95C93D; /*Color de la letra al seleccionar*/
    border: 1px Red;
    border-bottom-color: Red;
    background: Fuchsia;
}
div#menu.js-active a:hover
{
    border: 1px Fuchsia;
    border-bottom-color: Red;
    background: Fuchsia;
}
div#menu.js-active a:hover span
{
    color: Red;
}
div#menu li.current a
{
}

div#menu span
{
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 80% 0;
    text-align: right;
}
/* menu::level1 */
div#menu a
{
    padding: 0 3px 0 3px;
    line-height: 24px;
    height: 30px;
}

div#menu span
{
    margin-top: 5px;
    color: Red;
    font: normal 10px Helvetica, Arial, sans-serif;
}
div#menu li
{
     border-left: #003633 solid 1px; 
}

div#menu li hover 
{
     border-left: #003633 solid 1px;
     display:block;
}

div#menu ul ul
{ display:block;
    
    }
div#menu li.last
{
    background: none;
}

/* menu::level2 */
div#menu ul ul li
{
    background: none;
    padding: 0;
    border-bottom: 0;
}
div#menu ul ul li, div#menu ul ul li a
{
    z-index: auto;
}
div#menu ul ul li ul
{
    z-index: 0;
}
 
/* Estilo al posicionar el mouse sobre el submenu*/
div#menu ul ul
{
    display: block;
    position: absolute;
    top: 55px; /* posicion del submenu*/
   /* left: -999em;*/
    width: 173px; /*Ancho de los hijos del submenu*/
    padding: 0px 0 0 0;
    background: #b7deed;
    background: -moz-linear-gradient(top,  #b7deed 0%, #00564f 0%, #13725e 50%, #13725e 51%, #00564f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(0%,#00564f), color-stop(50%,#13725e), color-stop(51%,#13725e), color-stop(100%,#00564f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b7deed 0%,#00564f 0%,#13725e 50%,#13725e 51%,#00564f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#00564f',GradientType=0 ); /* IE6-9 */
    border: 1px Red;
    margin-top: -25px; /*separacion entre submenu y hijos*/
}
div#menu ul ul a
{
    padding: 0px;
    height: 24px; /*Alto de los hijos*/
    float: none;
    display: block;
    line-height: 20px; /*Posicion de la fuente*/
    font-size: 10px;
    color: White; /*Color de letra al desplegar menu*/
    font: normal 10px Helvetica, Arial, sans-serif;
    white-space: normal;
    text-align: left;
    width: auto;
}
div#menu ul ul a span
{
    font-size: 10px;
    line-height: 26px;
    color: Red;
}
div#menu ul ul li:hover > a
{
    border: 0;
}

/*Color al pasar el mouse en los hijos del submenu*/
div#menu ul ul a:hover
{
    border: 0;
    color: Green; /*   	     background: #b7deed;      background: -moz-linear-gradient(top,  #b7deed 0%, #005132 0%, #0a7256 50%, #007556 51%, #005132 100%);      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(0%,#005132), color-stop(50%,#0a7256), color-stop(51%,#007556), color-stop(100%,#005132));      background: -webkit-linear-gradient(top,  #b7deed 0%,#005132 0%,#0a7256 50%,#007556 51%,#005132 100%);      background: -o-linear-gradient(top,  #b7deed 0%,#005132 0%,#0a7256 50%,#007556 51%,#005132 100%);      background: -ms-linear-gradient(top,  #b7deed 0%,#005132 0%,#0a7256 50%,#007556 51%,#005132 100%);     background: linear-gradient(to bottom,  #b7deed 0%,#005132 0%,#0a7256 50%,#007556 51%,#005132 100%);     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#005132',GradientType=0 );    	*/
    background: #019970;
    background: -moz-linear-gradient(top,  #019970 0%, #3ec4a7 50%, #3ec4a7 51%, #009970 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019970), color-stop(50%,#3ec4a7), color-stop(51%,#3ec4a7), color-stop(100%,#009970));
    background: -webkit-linear-gradient(top,  #019970 0%,#3ec4a7 50%,#3ec4a7 51%,#009970 100%);
    background: -o-linear-gradient(top,  #019970 0%,#3ec4a7 50%,#3ec4a7 51%,#009970 100%);
    background: -ms-linear-gradient(top,  #019970 0%,#3ec4a7 50%,#3ec4a7 51%,#009970 100%);
    background: linear-gradient(to bottom,  #019970 0%,#3ec4a7 50%,#3ec4a7 51%,#009970 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#019970', endColorstr='#009970',GradientType=0 );
    z-index: 100;
}
div#menu ul ul a:hover span
{
}
div#menu ul ul span
{
    margin-top: 0;
    text-align: center;
}
div#menu ul ul li.last
{
    background: none;
}
div#menu ul ul li
{
    width: 100%;
    text-indent: 10px;
}

/* menu::level3 */
div#menu ul ul ul
{
    padding: 0;
    margin: -55px 0 0 170px !important; /*posicion del nivel 3*/
    margin-left: 10%;
    width: 162px; /* Ancho nivel 3*/
}

/** menu::subtext */
div#menu span.subtext
{
    display: block;
    font-size: 0px;
    color: White;
    line-height: 0px;
    margin: 0;
    padding: 0;
}
div#menu li:hover > a span.subtext
{
    color: Fuchsia;
}

/* lava lamp */
div#menu li.back
{
    position: absolute;
    height: 20px; /*Alto de los hijos al seleccionar*/
    z-index: 8;
    margin-top: 1px;
}
div#menu li.back .left
{
    height: 20px;
    border: Green;
    border-bottom: none;
    margin-right: 0px;
}




/*OPCIONALEs*/


.dataGrid
{
	width:auto;
	font-size:10px;
	border:#d5d5d5 solid 1px;
	border-right:none;
}

.dataGrid caption
{
	background:#09310e;
	color:white;
	padding:3px;
	border:#d5d5d5 solid 1px;
	border-bottom:none;
}

.dataGrid th
{
	background:#009c96 url(../images/ImgsMasterPage/HeaderDG.gif) repeat-x;
	color:white;
	padding:4px;
	border:#d5d5d5 solid 1px;
	border-bottom:none;
	border-left:none;
	border-top:none;
}

.dataGrid td
{
	background:white;
	border:#d5d5d5 solid 1px;
	border-bottom:none;
	border-left:none;
	padding:2px;
}

.dataGrid .alternateRow td
{
	background:#c6e5cc;	
}

.dataGrid .Total td
{
	background:#74ab82;	
}
