
 <!-- script type="text/javascript" src="resources/angular/js/webComponents/web-component-pld-table-v1.js"></script--> 

<style>
    div > ul#tabs > li{
        height: 45px;
    }

    .panel-tab .panel-heading ul li a i {
    width: 0%; 
    height: 30px;
    line-height: 20px;
    font-size: 25px;
}

.panel-tab .panel-heading ul li a span {
    display: block;
    line-height: 15px;
    padding-left: 30px;
}


div > ul#tabs > li.active > a > i{
    height: 45px;
}

</style> 


<div class="row">
    <div class="col-md-12">
    
    <div class="panel rounded shadow no-overflow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title text-strong ">Detalle ana&#769;lisis</h3>
                </div>
                <div class="pull-right">                        
                    <button data-tooltip data-collapse-panel class="btn btn-sm"
                        data-action="collapse" data-container="body"
                        data-toggle="tooltip" data-placement="top" data-title="Collapse">
                        <i class="fa fa-angle-up"></i>
                    </button>                       
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
    
        <!-- Start basic wizard vertical -->
        <div>
            <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin rounded shadow">
             <!-- Start tabs heading -->
                 <!-- Start tabs heading -->
                <div class="panel-heading no-padding col-md-3">
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="active panelHeight">
                            <a href="#tab2-1" data-toggle="tab" ng-click="selectTab(1)">
                                <i class="fa fa-user"></i>
                                <span class="text-strong">Observaciones</span>
                            </a>
                        </li>
                        <li >
                            <a href="#tab2-2" data-toggle="tab" ng-click="selectTab(2)">
                                <i class="fa fa-file-text-o"></i>
                                <span class="text-strong">Reportes Enviados</span>
                            </a>
                        </li>
                        <li >
                            <a href="#tab2-3" data-toggle="tab" ng-click="selectTab(3)">
                                <i class="fa fa-home"></i>
                                <span class="text-strong">Coincidencia en Listas</span>
                            </a>
                        </li>
                        <li >
                            <a href="#tab2-4" data-toggle="tab" ng-click="selectTab(4)">
                                <i class="fa fa-credit-card"></i>
                                <span class="text-strong">Ultimos 10 Pagos</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.panel-heading -->
               
                 <div class="panel-body col-md-9">
                    <div class="tab-content" >

                        <br/>
                        <h4>{{tabHeader}}</h4>
                                          
                        <!-- Nuevo analisis -->
                        <form ng-show="tab==1" name="observacionesForm" class="form-horizontal form-label-left"  ng-submit="saveAnalisis(observacionesForm.$valid)">

                            <div class="form-group">
                                <div class="rdio rdio-theme inline circle" ng-repeat="val in catEstatus" >
                                    <input id="{{val.EstatusAnalisis}}" checked="checked" type="radio" name="resultadoAnalisis" ng-model="$parent.status" value={{val.EstatusAnalisis}} autocomplete="off">
                                    <label for="{{val.EstatusAnalisis}}">{{val.Descripcion}}</label>
                                </div>
                            </div><!-- /.form-group -->
                        
                            <div class="form-group">
                                <label class="control-label">Observaciones</label>
                                <textarea class="form-control" ng-model="observaciones" rows="5" required></textarea>
                            </div><!-- /.form-group -->

                            <div class="form-footer">
                                <div class="pull-right">
                                    <button id="send" type="submit" class="btn btn-success btn-form" ng-disabled="!observacionesForm.$valid ">Guardar</button>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.form-footer -->

                        </form>
                        <br/>
                        <!-- Mensaje al agregar analisis -->
                        <div>
                            <pld-message configuration="messageDatosAnalisis"></pld-message>
                        </div>    
                            
                        <div class="panel-body">
                            <pld-advanced-table reload="reloadTable" options="configTable" values="valuesTable" key="tipoTabla"></pld-advanced-table>
                        </div>
                        <br/>
                        <h4>{{tabHeader2}}</h4>
                        <div class="panel-body">
                            <pld-advanced-table reload="reloadTable2" options="configTable2" values="valuesTable2" key="tipoTabla2"></pld-advanced-table>
                        </div>

               </div>
                
            </div>
        </div>
        <!-- End basic wizard vertical -->
     
        <!--/ End panel-body -->
     </div>
     
     </div>
</div>
</div> 

<br/>


