
<div class="row">
	<div class="col-md-12">
		<div class="row" ng-show="values.tableMessage.state.statuCode=='OK'">
			<div class="col-md-12" id="table-header">
				<div id="example_length" class="pull-left" ng-show="options.pages==true">
					<b>Mostar&nbsp;<table-select-pages page-size="values.pageSize"></table-select-pages>&nbsp;resultados</b>
				</div>
				<div class="pull-right" id="example_filter">
					<input type="text" ng-model="values.searchText"  placeholder="Buscar en la tabla" ng-show="options.search==true">
					<a href="#" ng-click="callAction('S')"><i class="fa fa-search colorButton" ng-show="options.search==true"></i></a>
					&nbsp;&nbsp;
					<a href="#" data-tooltip data-title="Descargar a Excel" file-download="myBlobObject" file-name="options.tableName+'.xls'" 
						ng-click="getFile()"><img class="mr-15" data-ng-src="{{excelIcoPath}}" alt="Exportar a Excel" style="width:17px;height:17px;" ng-show="options.excel==true"></a>
				</div>
			</div>
		</div>
		<div class="row" ng-show="values.totalRows>0">
			<div class="col-md-12" id="table-content" style="overflow: auto;">
				<table class="table table-striped jambo_table">
					<thead>
						<tr class="headings">
							<th nowrap ng-repeat="item in values.headers">
								<a ng-click="callAction('O',0,item)" href="#">{{item.value}}</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in values.displayedPage">
							<td nowrap ng-repeat="cell in values.headers">
								<table-simple-cell ng-if="cell.tool==null" filter="options.filters[cell.name]"  value="row[cell.name]"></table-simple-cell>
								<table-tool-cell ng-if="cell.tool!=null" tool="cell.tool" row="row"></table-tool-cell>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-show="values.totalRows>0 && options.pagination==true">
			
			<div ng-show="values.totalRows>0" style="padding-top: 15px;" class="pull-left col-sm-9 col-md-9" id="pagesInfo">Mostrando {{values.currentPage+1}} de {{pages}} paginas con {{values.totalRows}} registros</div> 
			<div ng-show="pages>1" style="padding-top: 15px; text-align:right;" class="pull-right col-sm-3 col-md-3" > 
    			<a ng-show="values.currentPage>1" tabindex="0" class="first paginate_button colorButton" id="example_first"  ng-click="callAction('F')">
    				<span class="fa fa-fast-backward"></span> 
    			</a> 
    			<a ng-show="values.currentPage>0" tabindex="0" class="previous paginate_button colorButton" id="example_previous" ng-click="callAction('P')">
    				<span class="fa fa-backward"></span> 
    			</a>
    			<a class="paginate_button colorButton" href="#" ng-repeat ="page in values.range" ng-click="callAction('E',page-1)"><span ng-if="page == (values.currentPage+1)" class="fa fa-star-o"></span> <span ng-if="page != (values.currentPage+1)">{{page}}</> </a>
    			<a ng-show="values.currentPage+1<pages" tabindex="0" class="next paginate_button colorButton" id="example_next" ng-click="callAction('N')">
    				<span class="fa fa-forward"></span>
    			</a>
    			<a ng-show="values.currentPage+2<pages" tabindex="0" class="last paginate_button colorButton" id="example_last" ng-click="callAction('L')">
    				<span class="fa fa-fast-forward"></span>
    			</a>
    		</div>
		</div>

	</div>
</div>

<div  class="row" ng-hide="options.message==false">
	<div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
		<pld-message configuration="values.tableMessage" ></pld-message>
	</div>
</div>


