/* HelveticaNeue-Light */
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../font/eot/HelveticaNeue-Light.eot');
  src: url('../font/eot/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/svg/HelveticaNeue-Light.svg') format('svg'),
       url('../font/woff/HelveticaNeue-Light.woff') format('woff'),
       url('../font/ttf/HelveticaNeue-Light.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

/* HelveticaNeue-Semi */
@font-face {
  font-family: 'HelveticaNeue-Semi';
  src: url('../font/eot/HelveticaNeue-Semi.eot');
  src: url('../font/eot/HelveticaNeue-Semi.eot?#iefix') format('embedded-opentype'),
       url('../font/svg/HelveticaNeue-Semi.svg') format('svg'),
       url('../font/woff/HelveticaNeue-Semi.woff') format('woff'),
       url('../font/ttf/HelveticaNeue-Semi.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

/* HelveticaNeue-Bold */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../font/eot/HelveticaNeue-Bold.eot');
  src: url('../font/eot/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/svg/HelveticaNeue-Bold.svg') format('svg'),
       url('../font/woff/HelveticaNeue-Bold.woff') format('woff'),
       url('../font/ttf/HelveticaNeue-Bold.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}



/*--------------------------------------------------------------*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.shortTable,.largeTable {
	border-collapse: collapse;
	border-spacing: 0;
	border-collapse:collapse
	}
*{ outline: none; }


/*--------------------------------------------------------------*/
/*
html{
    height: 100%;
}

	body {
		font-family: 'HelveticaNeue-Semi';
		color: #4B4B4B;
		font-size: 14px;
		line-height: 16px;
        height: 100%;
	}*/

	.tLeft {text-align: left;}
	.tCenter {text-align: center;}
	.tRight {text-align: right;}
	.tJustify {text-align: justify;}
	
	/*Propuesta 1*/	
	div.col-a1 { width: 50%; height: 25%; background-color:#f3f3f3;}
	div.col-b1 { width: 50%; height: 25%;background-color: #f3f3f3;}
	div.col-c1 { width: 33.33%; height: 50%; background-color: #f3f3f3;  } 
			
	div.col-a1,
	div.col-b1,
	div.col-c1 
			 {
		vertical-align: top;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
	
/*Propuesta 1*/	
.tdEncabezado11 {height: 54px;vertical-align: middle;font-weight: bold;white-space: pre-wrap;text-align: center; color: White;background-color:#068dc2;}
.tdEncabezado21 {height: 54px;vertical-align: middle;font-weight: bold;white-space: pre-wrap;text-align: center; color: White;background-color: #3676a7;}
.tdEncabezado31 {height: 54px;vertical-align: middle;font-weight: bold;white-space: pre-wrap;text-align: center; color: White;background-color: #1d52aa;}
 
		
/* Propuesta 1 */
.tdColor11 {background-color: #ebebeb;}
.tdColor21 {background-color: #ebebeb;}
.tdColor31 {background-color: #ebebeb;} 
	
/* header */
header {
    height: 47px;
    background-image: url("../../Images/Grales/patternHeader.png");
    color: #fff;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: lighter;
    vertical-align: middle;    
}

header div span {
    display: block;
    text-align: center;
}

header div {
    vertical-align: middle;
}

caption, h2 {
    width: 100%;
    color: #fff;
    height: 30px;
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url("../../Images/Grales/patternHeader.png");
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 34px;
}

#logoSicrenet {
    float: right;
    position: absolute;
    right: 30px;
    top: 15px;
}


/* detalles */

.borders {
    border-right: solid 4px #000;
    border-left: solid 4px #000;
    width: 99%;
}

.borderRight {
    border-right: solid 4px #000;
    height: 250px;
    width: 99.7%;
}

.borderLeft {
    border-left: solid 4px #000;
    height: 250px;
    width: 99.7%;
}

/* tablas generales */
.largeTable,.shortTable {
    width: 100%;
    color: #383838;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    vertical-align: middle;
    line-height: 18px;
}

.largeTable td,.shortTable td {
    height: 48px;
    vertical-align: middle;
    text-align: center;
    border-right: solid #E0FEFF 1px;
    border-left: solid #E0FEFF 1px;
    padding: 0 2px 0 6px; 
}
/*
.largeTable th,.shortTable th{
    height: 44px;
    vertical-align: middle;
    font-weight: bold;
    background-color:#E0FEFF;
    color: #3DA8AB;
}
 */
.largeTable td:nth-child(4),
.largeTable td:nth-child(5){
    text-align: left;
}

.shortTable td:nth-child(3),
.shortTable td:nth-child(4){
    text-align: left;
}

/*Tabla grande*/

.largeTable td:nth-child(1) {
    width: 7.5%;
    border-left-style: none;
}

.largeTable td:nth-child(2) {
    width: 9.6%;
}

.largeTable td:nth-child(3) {
    width: 17.5%;
}

.largeTable td:nth-child(4) {
    width: 42.7%;
}

.largeTable td:nth-child(5) {
    width: 22.7%;
    border-right-style: none;
}

/*Tablas cortas*/

.shortTable td:nth-child(1) {
    width: 16.9%;
    border-left-style: none;
}

.shortTable td:nth-child(2) {
    width: 17.4%;
}

.shortTable td:nth-child(3) {
    width: 42.69%;
}

.shortTable td:nth-child(4) {
    width: 22.96%;
    border-right-style: none;}

/*Seccion 3 regulatorios*/

.col-c .largeTable td:nth-child(1) {
    width: 7.41%;
    border-left-style: none;
}

.col-c .largeTable td:nth-child(2) {
    width: 9.99%;
}

.col-c .largeTable td:nth-child(3) {
    width: 9.18%;
}

.col-c .largeTable td:nth-child(4) {
    width: 28.70%;
}

.col-c .largeTable td:nth-child(5) {
    width: 11.69%;
    border-right: none;
}

/*Seccion 3 regulatorios*/

.col-c .shortTable td:nth-child(1) {
    width: 16.34%;
    border-left-style: none;
}

.col-c .shortTable td:nth-child(2) {
    width: 9.70%;
}

.col-c .shortTable td:nth-child(3) {
    width: 28.81%;
}

.col-c .shortTable td:nth-child(4) {
    width: 11.69%;
    border-right: none;
}




/*----------------------------------SCROLL*/


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.05); 
}
