.btnDrop {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.btnDrop {
    padding: 3px 6px;
    text-align: center;
}

.btn {
    position: relative;
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
}

.btnsel {
    cursor: move;
    position: relative;
    display: inline-block;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
}

.btntext {
    cursor: pointer;
    position: relative;
    font-size: 40px;
}
.verde{
   /*border: #a0a0a0 solid 1px;  */
   border-radius: 5px; 
    background: #63b211; /* Old browsers */
    background: -moz-linear-gradient(top, #63b211 1%, #30710a 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#63b211), color-stop(99%,#30710a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #63b211 1%,#30710a 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #63b211 1%,#30710a 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #63b211 1%,#30710a 99%); /* IE10+ */
    background: linear-gradient(to bottom, #63b211 1%,#30710a 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b211', endColorstr='#30710a',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align: center;
    vertical-align:middle;   
    
}


.gris {
    /*border: #a0a0a0 solid 1px;  */
    border-radius: 5px;
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #747474 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#747474)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%,#747474 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%,#747474 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%,#747474 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%,#747474 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#747474',GradientType=0 ); /* IE6-9 */
    color: white;
    text-align: center;
    vertical-align:middle;
   ;
}

.amarillo
{
    /*border: #a0a0a0 solid 1px;  */
    border-radius: 5px;
    background: #fdf638; /* Old browsers */
    background: -moz-linear-gradient(top, #fdf638 0%, #e1cc3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf638), color-stop(100%,#e1cc3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdf638 0%,#e1cc3d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdf638 0%,#e1cc3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf638', endColorstr='#e1cc3d',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
   
}

.rojo
{
    /*border: #a0a0a0 solid 1px;  */
    border-radius: 5px;
    background: #ffaeae; /* Old browsers */
    background: -moz-linear-gradient(top, #ffaeae 1%, #af2c2c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffaeae), color-stop(100%,#af2c2c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffaeae 1%,#af2c2c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffaeae 1%,#af2c2c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaeae', endColorstr='#af2c2c',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
    
}

.naranja
{
    /*border: #a0a0a0 solid 1px;  */
    border-radius: 5px;
    background: #ffb96b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb96b 0%, #ff8a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb96b), color-stop(100%,#ff8a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb96b 0%,#ff8a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb96b 0%,#ff8a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb96b', endColorstr='#ff8a00',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
    
}

.txtLegent {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 8px;
    text-align: left;
}

.azul
{
    /*border: #a0a0a0 solid 1px;  */
    border-radius: 5px;
    background: #0084ff; /* Old browsers */
    background: -moz-linear-gradient(top, #0084ff 0%, #103455 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0084ff), color-stop(99%,#103455)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0084ff 0%,#103455 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0084ff 0%,#103455 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0084ff 0%,#103455 99%); /* IE10+ */
    background: linear-gradient(to bottom, #0084ff 0%,#103455 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#103455',GradientType=0 ); /* IE6-9 */
    color:white;
    text-align:center;
    
}

.blanco
{
    border: #a0a0a0 solid 1px;  
    border-radius: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 2%, #e1e1e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 2%,#e1e1e1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 2%,#e1e1e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
    color:black;
    text-align:center;
    
}

.hover {
    border: 2px solid #00aef0;
    background: #80959D;
    width:10px;
    height:14px;
}

/*td principal nombre de segmento*/
.btnGraf {
    width: 168px;
    padding: 14px 0px 14px 0px;
    /*font-weight: bold;*/
    /*text-shadow: 2px 1px 1px gray;*/
    /*color: white;*/
    color:white;
    text-align: left;
    font-size: 12px;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
     height:4px;

}

.btnTitulo1 {
    width: 100%;
    height: 27px;
    padding: 14px 0px 14px 0px;
    font-weight: bold;
    /*text-shadow: 2px 1px 1px gray;*/
    color: white;
    text-align: center;
    font-size: 13px;
}

.tduno {
    width: 1%;
    /*background-color: rgb(49, 157, 146);*/
    background-color: rgb(49, 157, 146);
    /*border:rgb(92, 184, 92) solid 1px;*/
    border:rgb(0, 146, 178) solid 1px;
    border-radius:5px;
    color:white;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}


.btnTituloGraph {
    width: 30%;
    padding: 14px 0px 14px 0px;
    font-weight: bold;
    /*text-shadow: 2px 1px 1px gray;*/
     /*background-color: rgb(240, 173, 78);*/
      background-color: rgb(49, 157, 146);
    color: white;
    text-align: center;
    font-size: 12px;
    /*background-color: rgba(0, 134, 120, 0.80);*/
}

.graphDiv {
    width: 30%;
}

.btnTituloGraph3 {
    width: 100%;
    padding: 14px 0px 14px 0px;
    font-weight: bold;
    text-shadow: 2px 1px 1px gray;
    color: white;
    text-align: center;
    font-size: 11px;
    background-color: rgba(0, 134, 120, 0.80);
}

.graphDiv3 {
    width: 100%;
}

.graph {
    border: 1px solid #a0a0a0;
    position: relative;
}

.graphDiv {
    width: 30%;
}

.graphDiv2 {
    width: 100%;
}

.graphTxt {
    position: absolute;
}

.logos {
    width: 48px;
    height: 24px;
    border: none;
}

/* Encabezado de la tabla de la izquierda (Serie, Reporte y Pendientes)*/
.cabezaTitulosDerecha {
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}


.fondoCeldaEstatica {
    /*background-color:#339e93;*/
      background-color:#00856A;
    height:23px;
}

/* tabla hija*/
.cabeza {
    color: white;
    width: 67px;
    font-size: 12px;
    padding: 4px;
    border: 1px;
    text-align: center;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}


.cabeza1 {
    width: 100%;
    padding: 4px 0px 4px 0px;
    text-align: left;
}

.cabeza2 {
    width: 540px;
}

.cabeza3 {
    width: 25px;
    padding: 5px 10px 5px 10px;
}

.cabezaTotal {
    width: 70px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.tablahija {
    max-height: 500px;
    overflow: auto;
}

.tablahija table {
    table-layout: fixed;
}

.tablahija table tr td {
    word-wrap: break-word;
}

.expandtd {
    width: 70%;
}

.tablahijaTdNomRep {
    width: 240px;
    font-family: Arial;
    font-size: 10px;
}

.tablahijaTdNomRepClave {
    font-family: Arial;
    font-size: 10px;
}

.tablahijaTdContador {
    width: 90px;
    text-align: right;
}

.tdbtn-hoy {
    border: 2px solid;
    border-color: rgba(255, 255, 255,1) #030303 rgba(255, 255, 255,1) #030303;
}

.tdbtn-hoy-head {
    border: 2px solid;
    border-color: #030303 #030303 rgba(255, 255, 255,1) #030303;
}

.tdbtn-hoy-ultimo {
    border: 2px solid;
    border-color: rgba(255, 255, 255,1) rgba(247, 232, 69, 1) rgba(247, 232, 69, 1) rgba(247, 232, 69, 1);
}

.tdbtn {
    text-align: center;
}

.trunodosEspecial {
    width: 100%;
}

.trunodos {
    width: 70%;
}

.tdunoHidden {
    width: 0px;
    visibility: hidden;
}

.tddos {
    width: 15%;
}

div.scroll {
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.freezeHd1 {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    background-color: red;
}

.freezeHd2 {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    background-color: black;
}

#data_fecha {
    width: 40%;
    height: 10%;
    padding: 10px 0 10px 0;
}


/*.subTbleven { background-color:#F0FFFF;}

        .subTblodd  { background-color:rgba(198, 229, 204,0.80);}*/

.headcol {
    position: absolute;
}

/*grfica*/
#graphCont {
    width: 100%;
    /*height: 37px;*/
    height: 32px;
}

#graphCont div {
    height: 100%;
    float: left;
    text-align: center;
}

#graphCont span {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-size: 10px;
    color: white;
}

.thead11 {
}

.Thija-th {
    /*background-color: rgba(0, 134, 120, 0.80);*/
    background-color: #00856A;
    color: white;
}
/*nueva tabla*/

#contenedorSegmentos {
    width: 20%;
}

#contenedorPaises {
    width: 100%;
}

    #contenedorPaises div {
        height: 100%;
        float: left;
    }
/* #data_bind_1 { width:93%;}  */
#data_bind_1 {
    width: 93%;
}

.TituloFechaNombre {
    font-size: 13px;
    font-weight: 500;
    color: black;
    vertical-align: middle;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.TituloFechaDato {
    font-size: 13px;
    font-weight: 600;
    color: #3b3b3b;
    vertical-align: middle;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

/********************************************************** Estilo para la ventana del reporte*********************************************************/


#blanket {
    background-color: #111;
    opacity: 0.65;
    *background: none;
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}

#popUpDiv {
    position: absolute;
    /*background: url(pop-back.jpg) no-repeat;*/
    background:#fffff7;
    top:50%;
    left:50%;
    height: 500px;
    /*height:auto;*/
    border: 0px;
    z-index: 9002;
    border-radius: 5px;
}

    #popUpDiv a {
        position: relative;
        top: 20px;
        left: 20px;
    }

    /*******************************************************************************************************************/

.estiloConcepto1 {
   text-align:left; 
   width:20%; 
   height: 25px;
   font-size: 10px;
   font-weight: bold;
   color: rgb(24, 24, 127);
   font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.estiloDescripcion1 {
    word-wrap: break-word;
    max-width: 222px;
    text-align: left;
    width: 30%;
    height: 25px;
    font-size: 10px;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.estiloConcepto2 {
    word-wrap: break-word;
    max-width: 222px;
    text-align: left;
    width: 20%;
    height: 25px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(24, 24, 127);
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.estiloDescripcion2 {
    font-family: verdana;
    text-align: left;
    width: 30%;
    height: 25px;
    font-size: 10px;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.classButtonRegulatorios {
    border: 1px solid #166a48;
    background-color: rgba(5, 128, 113, 1);
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
}

.classButtonRegulatorios:hover {
    border: 1px solid #166a48;
    background-color: rgb(4, 95, 84);
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #b7b7b7;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
}

.classAgregarCampo {
    text-align: left;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(43, 43, 43);
}


.classAgregarCampoCaja {
    width:180px; 
    height:22px;
    text-align: left;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(43, 43, 43);
}



.btnCerrarValidacion {
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: rgba(5, 127, 113, 1);
    border: rgba(22, 106, 72, 1) solid 1px;
    float: right;
    margin-right: 5px;
  
}

    .btnCerrarValidacion:hover {
        height: 20px;
        width: 20px;
        border-radius: 2px;
        background-color: rgb(3, 98, 87);
        border: rgba(22, 106, 72, 1) solid 1px;
        background-image: url(../../images/PanelDeControl/btnCerrar.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
    }
 

    
 .TituloArchivos {
        /*width: 100%;*/
        height: 30px;
        font-size: 15px;
        font-weight: 200;
        color: #fff;
        vertical-align:middle;
        font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

