<script>  

$('.sidebar-menu> li > a').click(function() {
	$('.sidebar-menu> li > a').removeClass("active");
    /*Despues se agrega solo al que hizo click y a sus padres*/
    $(this).addClass("active");
})


$('.submenu > a').click(function() {
	var parentElement = $(this).parent('.submenu'),
       nextElement = $(this).nextAll(),
       arrowIcon = $(this).find('.arrow'),
       plusIcon = $(this).find('.plus');
   		
   // Add effect sound button click
   if($('.page-sound').length){
       ion.sound.play("button_click_on");
   }

   if(parentElement.parent('ul').find('ul:visible')){
       parentElement.parent('ul').find('ul:visible').slideUp('fast');
       parentElement.parent('ul').find('.open').removeClass('open');
       /*Primero borro todo los activos*/
       $('.sidebar-menu>li ').removeClass("active");
       $('.sidebar-menu>li > ul >li').removeClass("active");
       /*Despues se agrega solo al que hizo click y a sus padres*/
       $(this).parents().addClass("active");
       $(this).parents().css("display", "block");
       //parentElement.addClass("active");
       parentElement.css("display", "block");
       
   }

   if(nextElement.is('ul:visible')) {
       arrowIcon.removeClass('open');
       plusIcon.removeClass('open');
       plusIcon.removeClass('open');
       nextElement.slideUp('fast');
       arrowIcon.removeClass('fa-angle-double-down').addClass('fa-angle-double-right');
   }

   if(!nextElement.is('ul:visible')) {
       arrowIcon.addClass('open');
       plusIcon.addClass('open');
       nextElement.slideDown('fast');
       arrowIcon.removeClass('fa-angle-double-right').addClass('fa-angle-double-down');
   }
});
	
$('#sidebar-left >.sidebar-menu').click(function( event ) {
	  event.stopPropagation();
	  $('#sidebar-left >.sidebar-menu').addClass("disabled");
});

$('#sidebar-left >.sidebar-menu').hover(function( event ) {
	  event.stopPropagation();
	 if($('#sidebar-left >.sidebar-menu').hasClass("disabled"))
		$('#sidebar-left > .sidebar-menu').removeClass("disabled");
});
	/*
function cambiaBackground(elem){
     $('.sidebar-selected-item').removeClass('sidebar-selected-item');
	 elem.classList.add("sidebar-selected-item");
	 
	 if(idModuloActual!=parseInt(elem.getAttribute("idModulo"))){
		 console.debug('Cleaning $rootScope.pldModel');
		 //$rootScope.pldModel=undefined;
		 $.ajax({
			    url: url+"/restModuloConsultas/actualizaModuloActivo",
			    type: 'POST',
			    data: 'idModuloActual='+elem.getAttribute("idModulo"),
			    success: function() { console.info('/restModuloConsultas/actualizaModuloActivo COMPLETED');}
			});	
	 }
	 
}*/

</script>
<!-- Start left navigation - profile shortcut -->
	<div class="sidebar-content">
	    <a href="#" class="close">&times;</a>
	    <div class="media">
	        <a class="pull-left has-notif avatar" ui-sref="dashboard">
	            <img src="{{settings.imagePath}}/user2.png" alt="admin" ng-click="showHideMenuOption('homeMenu');">

	            <!-- <i class="online"></i>-->
	        </a>
	        <div class="media-body">
	            <h4 class="media-heading">Hola, <span>{{settings.userName}}</span></h4>
	            <small>Analista</small>
	        </div>
	    </div>
	</div><!-- /.sidebar-content -->
	<!--/ End left navigation -  profile shortcut -->

	<!-- Start left navigation - menu -->
	<ul data-collapse-menu class="sidebar-menu">
	
	    <!-- Start navigation - dashboard -->
	    <li class="active" id="homeMenu" ng-click="showHideMenuOption('homeMenu');">
	        <a active-menu ui-sref="dashboard" >
	            <span class="icon"><i class="fa fa-home"></i></span>
	            <span class="text">Inicio</span>
	            <span></span>
	        </a>
	    </li>
	    <!--/ End navigation - dashboard -->
	
		<li class="sidebar-category">
	        <span>Modulos</span>
	        <span class="pull-right"></span>
	    </li>
		
		<li class="submenu" ng-repeat="l1 in settings.tree" on-finish-render="ngRepeatFinished" id="{{l1.idModule}}" idModule="{{l1.idModule}}"  idParent="{{l1.idParent}}">
			<a href="javascript:void(0);" ng-click="showHideMenuOption(l1.idModule);">
	            <span class="icon"><i class="{{l1.image}}"></i></span>
	            <span class="text">{{l1.description}}</span>
	            <span class="plus"></span>
	        </a>
	        <ul>
	        	<li class="submenu"  ng-repeat="l2 in l1.children"  id="{{l2.idModule}}" idModule="{{l2.idModule}}"  idParent="{{l2.idParent}}">
	        		<a href="javascript:void(0);" ng-click="showHideMenuOption(l2.idModule)">
	                    <span class="text">{{l2.description}}</span>
	                    <span class="arrow"></span>
	                </a>
	                <ul class="submenuLink">
		                <li ng-repeat="l3 in l2.children" id="{{l3.idModule}}" idModule="{{l3.idModule}}"  idParent="{{l3.idParent}}">
		                  <a href="#" id="{{l3.mapping | nopoint}}" idModulo="{{l3.idModule}}"  ng-click="cambiaBackground(l3.idModule,l3.mapping)" >{{l3.description}}</a>
		                </li>
	                </ul>
	        	</li>
	        	
	        </ul>
		</li>
		<li class="sidebar-category">
	        <span>&nbsp;</span>
	    </li>
	    <div loaded></div> 
	</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<!-- <div class="sidebar-footer hidden-xs hidden-sm hidden-md">
    <a data-fullscreen class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
    <a data-logout class="pull-left" href="{{settings.context}}/salir" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
</div>-->
<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->
