       #respAjax table
        {
            border-top: solid 1px #008b8b;
            border-left: solid 1px #008b8b;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #FFF;
            margin: auto;
        }
        #respAjax table td
        {
            /*border:solid 1px #066;*/
            border-bottom: solid 1px #008b8b;
            border-right: solid 1px #008b8b;
            font-size: 11px;
            padding: 1px 2px 1px 2px;
        }
        .headT td
        {
            color: white;
            background-color: #066262;
            font-weight: bold;
            text-align: center;
        }
        #leftTit0
        {
            background-color: #c00000;
            text-align: center;
        }
        #leftTit1
        {
            background-color: #ffff00;
            color: black;
            text-align: center;
        }
        #leftTit2
        {
            background-color: #00b050;
            text-align: center;
        }
        .total td
        {
            background-color: #c5be97;
            font-weight: bold;
        }
        .number
        {
            text-align: right;
        }
        .demanda
        {
            text-align: center;
        }
        .sinDemanda
        {
            background-color: #ff0000;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        .noBuro
        {
            background-color: #953735;
            color: white;
            font-weight: bold;
        }
        .totalG1
        {
            background-color: black;
            font-weight: bold;
            color: white;
        }
        .totalG2
        {
            background-color: #2864ad;
            font-weight: bold;
            color: white;
        }
        .supTitulo
        {
            background-color: #4879b4;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        .supTitulo span
        {
            font-size: 13px;
        }