/************************************************************************************/

.content-wrapper {
    margin: 0 auto;
    max-width: 1300px;

}

header .content-wrapper {
    padding-top: 20px; 
}

    .featured .content-wrapper {
       /*  background-color: #7ac0de;
       background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);*/
        /*background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);*/
        /*color: #3e5667;*/
        padding: 20px 40px 30px 40px;
        color:black;
    }

        .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }


    /* site title
----------------------------------------------------------*/
.site-title {
    /*color: #c8c8c8;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    padding-top: 20px; 
     /*style="font-family: 16px Segoe UI, Verdana, Helvetica, Sans-Serif;*/ 

}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }



div.scroll_vertical2 {
    font: 9px Helvetica,Arial,sans-serif;
    height: 700px;
    /*width: 1250px;*/
    overflow: auto;
    /*background-color: #ccc;*/
}

div.scroll_horizontal_right2 {
    width: 630px;
    height: auto;
    float: right;
    overflow: auto;
    background-color: #ccc;
    text-align: left;
}

div.scroll_horizontal_left2 {
    width: 600px;
    height: auto;
    float: left;
    overflow: auto;
    /*background-color:darkblue;*/
}

.propTablaTitulo2 {
    /*font: 10px Helvetica,Arial,sans-serif;*/
    color: white;
    text-align: center;
    background: #055F5F;
    height: 70px;
}

.propTablaTituloDerecho2 {
    font: 9px Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
    background: #055F5F;
    height: 70px;
}

.propTablaContenido2 {
    color: black;
    text-align: center;
    height: 16px;
    padding: 0px;
    margin: 0px;
}

.propTablaContenidoDerecho2 {
    color: black;
    text-align: center;
    width: 670px;
    background: rgb(198, 229, 204);
    font: 10px Helvetica, Arial, sans-serif;
}

.propTablaContenidoDerecho2_1 {
    color: black;
    text-align: center;
    width: 670px;
    background: white;
    font: 10px Helvetica, Arial, sans-serif;
}

th.propTablaTituloDerecho2 {
    width: 200px;
}

/*td.propTablaContenidoDerecho2 {
        width: 200px;
    }*/

/*.row
{
    background: #F0FFFF url(../Images/Cancelaciones/CarteraSuceptible/h100.png);
    padding: 2px;
    color: Black;
}

.alternateRow
{
    background: rgb(198, 229, 204);
    color: Black;
    height: 10px;
}*/


.btnDetalle2 {
    /*background: #309F97;*/
    cursor: pointer;
    color: white;
    height: 16px;
}

.tdCA {
    width: 220px;
    height: 22px;
}

.divDetalle:hover {
    background-color: #B9F8F8;
}
/************************************************************************************/
div.scroll_vertical {
    height: 250px;
    width: 1230px;
    overflow: auto;
    padding: 8px;
}

div.scroll_horizontal_right {
    width: 630px;
    height: auto;
    float: right;
    overflow: auto;
    background-color: #E9F2FB;
    padding: 8px;
    text-align: left;
}

div.scroll_horizontal_left {
    width: 550px;
    height: auto;
    float: left;
    overflow: auto;
    background-color: #E9F2FB;
    padding: 8px;
}

.propTablaTitulo {
    font: 9px Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
    background: #055F5F;
    height: 70px;
}

.propTablaTituloDerecho {
    font: 9px Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
    background: #055F5F;
    height: 70px;
}

.propTablaContenido {
    font: 10px Helvetica,Arial,sans-serif;
    color: black;
    text-align: center;
    height: 16px;
}

.propTablaContenidoDerecho {
    font: 9px Helvetica,Arial,sans-serif;
    color: black;
    text-align: center;
    width: 200px;
}

th.propTablaTituloDerecho {
    width: 200px;
}

td.propTablaContenidoDerecho {
    width: 200px;
}

.btnDetalle {
    background: #309F97;
    cursor: pointer;
    color: white;
    height: 16px;
}

.float-right {
    float: right;
}

  /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

.clsEstatico1 {
    max-height:500px;
    overflow-y:auto;
    display:block;
    background-color:blue;
}

.clsEstatico2 {
    max-height:500px;
    overflow-y:auto;
    display:block;
    background-color:red;
}

.clsEstatico3 {
    max-height:200px;
    overflow-y:auto;
    display:block;
    /*background-color:blue;*/
}

.clsEstatico4 {
    max-height:200px;
    overflow-y:auto;
    display:block;
    background-color:white;
}
