body 
{
    width:10%;
   position:absolute;
   overflow:auto
}

.systemsMenu
{
	margin-left:5%;
	font-size:8px;
	font-weight:bold;
	color:#007561;
	position:absolute;
	padding:5px;
	top:0;
}

.systemsMenu a
{
	text-decoration:none;
	cursor:hand;	
	font-size:9px;
	font-weight:bold;
	color:#007561;
	display:block;
	float:left;
	margin:0 2px;
	background: url(../images/ImgsMasterPage/systemsMenuBackground.png) no-repeat;
	width:100px;
	height:25px;
	color:white;
	padding:7px 0 0 5px;
	cursor: hand;
	
}
.systemsMenu a:hover
{
	background: url(../images/ImgsMasterPage/systemsMenuBackgroundOver.png) no-repeat;
	color:Black;	
}

.systemsMenu a b
{
	padding:1px 10px 0 1px;
	float:left;
	font-weight:bold;
	color:White;	
}

.systemsMenu a span
{
	float:left;
	padding:3px 0;
	margin:0;
	font-weight:bold;
	width:76px;
	text-align:center;
	position:relative;
	z-index:100;		
}

.systemsMenu span
{
	display:block;
	float:left;
	padding:7px;	
} 

