
<div class="row">
	<div class="col-md-12 col-sm-12">
	<!-- Start all trigger -->
	<div class="panel">
		<!-- START PARAMETERS --><!--titulo hide-content="hideContent" parameter="parametros"/-->
			<div class="panel-heading">
        		<div class="pull-left">
        			<titulo regla="rule" pldsystem="SGV"></titulo>
				</div><!-- /.pull-left -->
				<div class="pull-right">
                	<button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Ocultar"><i class="fa fa-angle-up"></i></button>                
				</div><!-- /.pull-right -->
				<div class="clearfix"></div>
			</div><!-- /.panel-heading -->	
						
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
	        
						<!-- Start default tabs -->
						<div class="panel panel-tab rounded shadow">
	            			<!-- Start tabs heading -->
	            			<div class="panel-heading no-padding">
	                			<ul class="nav nav-tabs">
	                    			<li ng-class="{active:(tab==1)}" ng-click="changeTab(1)">
	                        			<a href="#tab1-1" data-toggle="tab">
	                            			<i class="fa fa-file-text-o"></i>
	                            			<span>Generacio&#769;n</span>
	                        			</a>
	                    			</li>
	                    			<li ng-class="{active:(tab==2)}"  ng-click="changeTab(2)">
	                        			<a href="#tab1-2" data-toggle="tab" >
	                            			<i class="fa fa-folder-open-o"></i>
	                            			<span>Consulta</span>
	                        			</a>
	                    			</li>
	                    			<li ng-class="{active:(tab==3)}" ng-click="changeTab(3)">
	                        			<a href="#tab1-3" data-toggle="tab">
	                            			<i class="fa fa-download"></i>
	                            			<span>Descarga</span>
	                        			</a>
	                    			</li>
	                    			<li ng-class="{active:(tab==4)}" ng-click="changeTab(4)">
	                        			<a href="#tab1-4" data-toggle="tab">
	                            			<i class="fa fa-hourglass"></i>
	                            			<span>Histo&#769;rico</span>
	                        			</a>
	                    			</li>
	                			</ul>
	            			</div><!-- /.panel-heading -->
	            			<!--/ End tabs heading -->
							
	            			<!-- Start tabs content -->
	            			<div class="panel-body">
				                <div class="tab-content">
				                    	                     
				                        <h4></h4>
				                      
											<!-- START PARAMETERS IMPUT -->
											<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="col-md-2 col-sm-2" style="text-align:right;">
													<label for="tipoReporte">Tipo Reporte</label>
												</div>
												<div class="col-md-2 col-sm-2">													
													<select id="tipoReporte" class="form-control" required ng-model="tipoReporte" ng-options="item.IdTipoReporte as item.NombreReporte for item in catTipoReporte"></select>
												</div>
												<div class="col-md-2 col-sm-1" style="text-align:right;">
													<label for="trimestre">Trimestre</label>
												</div>
												<div class="col-md-2 col-sm-2">
													<select id="trimestre" class="form-control" required ng-model="trimestre" ng-options="item.id as item.descripcion for item in trimestres"></select>
												</div>
												<div class="col-md-2 col-sm-2" style="text-align:right;">
													<label for="anio">An&#771;o</label>
												</div>
												<div class="col-md-2 col-sm-2">	
													<anio id="anio"></anio>
												</div>																							
											</div>
											<br/>
											<br/>
											<div class="row">										
													<center>
														<button id="search2" type="submit" class="btn btn-success btn-form" click-once ng-disabled="valuesTable.tableMessage.showAnimation" ng-click="callData()">Buscar</button>
													</center>							
											</div>
											<!-- END PARAMETERS IMPUT -->											
										
				                 
				                </div>
				            </div>
				        </div>
				    </div>
				</div> 
			</div>
			

		</div>
	</div>
</div>


		<!-- END PARAMETERS -->
<!--div class="row">
	<b>--reloadTable : {{reloadTable}}</b>
	<b>--pageSize : {{valuesTable.pageSize}}</b>
	<b>--currentPage : {{valuesTable.currentPage}}</b>
	<b>--totalRows : {{valuesTable.totalRows}}</b>
	<b>--searchText : {{valuesTable.searchText}}</b>
	<b>--reverse : {{valuesTable.reverse}}</b>
	<b>--paginated : {{valuesTable.paginated}}</b>
</div-->


<div class="row" ng-show="valuesTable.tableMessage.showAnimation==true || valuesTable.tableMessage.state.show==true || valuesTable.totalRows>0">
		<div class="col-sm-12">
			<!-- Start repeater -->
		<div class="panel rounded shadow no-overflow">
			<div class="panel-heading">
				<div class="pull-left">
					<h3 ng-if="tab==1" class="panel-title">Generacio&#769;n reportes</h3>
					<h3 ng-if="tab==2" class="panel-title">Consulta reportes</h3>
					<h3 ng-if="tab==3" class="panel-title">Descarga reportes</h3>
					<h3 ng-if="tab==4" class="panel-title">Histo&#769;rico reportes</h3>
				</div>
				<div class="pull-right">						
					<button data-tooltip data-collapse-panel class="btn btn-sm"
						data-action="collapse" data-container="body"
						data-toggle="tooltip" data-placement="top" data-title="Ocultar">
						<i class="fa fa-angle-up"></i>
					</button>						
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<br/>
				<center ng-show="tab==1 && valuesTable.totalRows>0" ><button id="send" type="button" class="btn btn-success btn-form" click-once ng-disabled="valuesTable.tableMessage.showAnimation" ng-click="endSelection()">Generar Reporte</button></center>
				<br/>
				<pld-advanced-table reload="reloadTable" options="configTable" values="valuesTable" key="'principal'"></pld-advanced-table>
			</div>
			
			<!--div class="panel-body">
				<pld-advanced-table reload="reloadTable" options="configTable" values="valuesTable2" key="'principal'"></pld-advanced-table>
			</div-->
		</div>
		</div>
</div>



		